body {
  background-color: peachpuff;
}
img {
  height: 200px;
  width: 200px;
}
h1 {
  font-family: sans-serif;
  color: red;
}
.melon-div {
  display: inline-block;
  padding: 10px;
  width: 205px;
}
.title-img {
  display: block;
  border: 3px green;
  margin-left: auto;
  margin-right: auto;
}
.melon-div img {
  border: solid green 2px;
}
