img {
  height: 200px;
  width: 200px;
  margin: green;
}
body {
  background-color: peachpuff;
}
h1 {
  font-family: sans-serif;
  color: red;
}
.melon-div {
  display: inline-block;
  padding: 10px;
  width: 205px;
}

