img {
  height: 200px;
  width: 200px;
}

.melon-div {
  display: inline-block;
  padding: 10px;
  width: 205px;
}

/* make background color a pale canteloupe color 
Make heading a sans-serif font in red
Add a green border to the images in top-melons
On homepage center the melon image on teh apge*/