{% extends 'base.html' %}

{% block title %}Ubermelon. Melons when you want them.{% endblock %}

{% block content %}

    <div class="header">
        <h1>Ubermelon's Most Loved Melons</h1>
    </div>

    <div class="title-img">
        <img src="http://www.rareseeds.com/assets/1/14/DimRegular/crenshaw.jpg">
    </div>
        
            <form method="GET" action="/get-name">
                    Please enter your name:
                    <input
                        type="text" 
                        required="true" 
                        name="name">
                    <input type="submit">
               
            </form>  
     
   
{% endblock %}        