{% extends 'base.html' %}

{%block title %}Top Melons{% endblock %}

{%block content %}
  <div class="header">
    <h1>Welcome, {{ session["username"] }}!</h1>
  </div>

  <div class=melon-div>
    {% for melon_id, values in melons.item() %}
      {%for melon, attributes in values.items() %}
    <h2>{{ session["username"] }}, this is a {{ values.name }}</h2>
          <img src={{ values.img }}>
        <h3>{{ values.num_loves }}</h3>
      {% endfor %} 
    {% endfor %}
  </div>

  {% endblock %}
 

